# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# YOLO model
*.pt
*.pth
*.onnx

# Output data
outputs/
logs/
clips/
events/
live/

# Experiment files
_experiment/

# OS / Editor
.vscode/
.idea/
.DS_Store
Thumbs.db
